@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.pagination{
	list-style: none;
	margin: 1rem 0;

	li{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1px;

		a{
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			min-width: 2.8rem;
			height: 2.8rem;
			font-size: 1.4rem;
			padding: .5rem;
			border-radius: 2px;
			color: rgba($color-black, .7);

			&:hover{
				color: $color-black;
				background: rgba($color-black, .12);
			}

			&.active{
				color: $color-white;
				background: $color-primary;
			}

			&.disabled{
				color: rgba($color-black, .12);
				cursor: not-allowed;
				&:hover{
					background: inherit;
				}
			}

			i{
				font-size: 1.4rem;
			}
		}
	}
}